/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 5, 2019, 4:15:45 PM
    Author     : mrcat323
*/
$pt: 20, 25;

@each $padding in $pt {
    .pt-#{$padding} {
        padding-top: $padding + px;
    }
}

$footer-background-color: red;
@import "../../node_modules/bulma/sass/layout/footer.sass";
